Repository CMU-313/spring23-nodebb-specs, pull requests merged in 2023-03, with the labels that each got.

#21 Added tests for User Story 2, displaying account type of a user
  src/user/create.ts
  test/user.js
Labels: User Story 2, testing

#27 Final changes to resolved/unresolved UI color field. Same as #25
  src/controllers/composer.js
  src/languages.js
  src/posts/user.js
  src/social.js
  src/topics/resolved.js
  src/user/create.js
  themes/nodebb-theme-persona/templates/topic.tpl
Labels: enhancement, User Story 1

#28 Installed ts-standard tool for static analysis
  install/package.json
Labels: testing

#35 Updated ts files to work for ts-standard
  .eslintrc.cjs
  src/controllers/composer.ts
  src/languages.ts
  src/posts/user.ts
  src/social.ts
  src/topics/resolved.ts
  src/types/admin.ts
  src/types/breadcrumbs.ts
  src/types/category.ts
  src/types/chat.ts
  src/types/commonProps.ts
  src/types/error.ts
  src/types/flag.ts
  src/types/group.ts
  src/types/index.ts
  src/types/pagination.ts
  src/types/post.ts
  src/types/settings.ts
  src/types/social.ts
  src/types/status.ts
  src/types/tag.ts
  src/types/topic.ts
  src/types/user.ts
  src/user/create.ts
  src/user/delete.ts
Labels: CI/CD
